.wetherBg{
  background: url("https://as2.ftcdn.net/v2/jpg/05/03/66/07/1000_F_503660747_RgbukwUTYt1cjgoUs40HY3WeVFI8KAe8.jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.heading{

  color: white;
  font-weight: 500;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.weatherIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weatherTemp{
  font-size: 55px;
  font-weight: 700;
}